header {
  position: fixed;
  width: 100vw;
  top: 20px;
  justify-content: space-between;
  max-width: var(--max-width);
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  .nav-container {
    column-gap: 24px;
    > a {
      display: inline-flex;
      svg {
        font-size: 30px;
      }
    }
  }
}
