.songs-list {
  --song-list-gap: 22px;
  width: 100%;
  row-gap: var(--song-list-gap);
  column-gap: var(--song-list-gap);
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
  padding: 20px 0 20px 0;
  &.wrap {
    flex-direction: row;
    flex-wrap: wrap;
  }
}